<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctort">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.doctort.RemedyTamilActivity"></activity>
        <activity android:name="com.example.doctort.RemedySinhalaActivity" />
        <activity android:name="com.example.doctort.SymptomSinhalaActivity" />
        <activity android:name="com.example.doctort.SymptomsTamilActivity" />
        <activity android:name="com.example.doctort.HomeSinhalaActivity" />
        <activity android:name="com.example.doctort.PredictSinhalaActivity" />
        <activity android:name="com.example.doctort.HomeTamilActivity" />
        <activity android:name="com.example.doctort.PredictTamilActivity" />
        <activity android:name="com.example.doctort.LanguageActivity" />
        <activity android:name="com.example.doctort.PredictEnglishActivity" />
        <activity android:name="com.example.doctort.SymptomEnglishActivity" />
        <activity android:name="com.example.doctort.RemedyEnglishActivity" />
        <activity android:name="com.example.doctort.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.doctort.HomeEnglishActivity" />
    </application>

</manifest>